#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : smokeping_prober.service
# Type   : systemd unit file
# Role   : smokeping_prober
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[Unit]
Description=Smokeping Prober
After=syslog.target network.target

[Service]
User=smokeping_prober
Group=smokeping_prober
EnvironmentFile={{file_dst_smokeping_prober_sysconfig}}
ExecStart={{file_dst_smokeping_prober}}/smokeping_prober $OPTIONS
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
