#!/usr/sbin/nft -f

#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : ipv6-nat.nft
# Type   : nftables configuration file
# Role   : nftables
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

table ip6 nat {
  chain PREROUTING {
    type nat hook prerouting priority -100; policy
{%- for item in nftables_nat_policies %}
{%- if ((item.version|default('')) is match('ipv6|ip6|inet6')) and ((item.direction|default('')) is match('pre|prerouting')) %}
{%- if ((item.action|default('drop')) is match('accept')) %} accept{% else %} drop{% endif %};
{% endif %}
{% endfor %}

  }

  chain INPUT {
    type nat hook input priority 100; policy
{%- for item in nftables_nat_policies %}
{%- if ((item.version|default('')) is match('ipv6|ip6|inet6')) and ((item.direction|default('')) is match('in|input')) %}
{%- if ((item.action|default('drop')) is match('accept')) %} accept{% else %} drop{% endif %};
{% endif %}
{% endfor %}

  }

  chain OUTPUT {
    type nat hook output priority -100; policy
{%- for item in nftables_nat_policies %}
{%- if ((item.version|default('')) is match('ipv6|ip6|inet6')) and ((item.direction|default('')) is match('out|output')) %}
{%- if ((item.action|default('drop')) is match('accept')) %} accept{% else %} drop{% endif %};
{% endif %}
{% endfor %}

  }

  chain POSTROUTING {
    type nat hook postrouting priority 100; policy
{%- for item in nftables_nat_policies %}
{%- if ((item.version|default('')) is match('ipv6|ip6|inet6')) and ((item.direction|default('')) is match('post|postrouting')) %}
{%- if ((item.action|default('drop')) is match('accept')) %} accept{% else %} drop{% endif %};
{% endif %}
{% endfor %}

  }
}
