#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config
# Type   : sysctl configuration file
# Role   : sysctl
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% for sysctl in item.sysctl|default([]) %}
{% if not ((sysctl.comment|default('')) == '') %}
# {{sysctl.comment}}
{% endif %}
{%- if not ((sysctl.key|default('')) == '') %}{{sysctl.key}}{% endif %}=
{%- if not ((sysctl.value|default('')) == '') %}{{sysctl.value}}{% endif %}

{% endfor %}
