{{ansible_managed|comment(decoration='#')}}

# List of NTP servers used by the ntpdate service.

{% if not (ntpd_server == []) %}
{% for item in ntpd_server %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.address}}

{% endfor %}
{% else %}
{% endif %}
