#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : http-proxy.conf
# Type   : systemd environment file
# Role   : docker
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[Service]
{% if not (docker_http_proxy == '') %}
# HTTP_PROXY
Environment='HTTP_PROXY={{docker_http_proxy}}'
{% endif %}

{% if not (docker_https_proxy == '') %}
# HTTPS_PROXY
Environment='HTTPS_PROXY={{docker_https_proxy}}'
{% endif %}

{% if not (docker_no_proxy == []) %}
# NO_PROXY
Environment='NO_PROXY={% for no_proxy in docker_no_proxy %}{{no_proxy}}{% if not loop.last %},{% endif %}{% endfor %}'
{% endif %}
