#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : secrets
# Type   : opensmtpd configuration file
# Role   : opensmtpd
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# ALL
#-------------------------------------------------------------------------------

{% if not (opensmtpd_secrets_all == []) %}
{% for item in opensmtpd_secrets_all %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.label}} {{item.username}}:{{item.password}}

{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# GROUP
#-------------------------------------------------------------------------------

{% if not (opensmtpd_secrets_group == []) %}
{% for item in opensmtpd_secrets_group %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.label}} {{item.username}}:{{item.password}}

{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# HOST
#-------------------------------------------------------------------------------

{% if not (opensmtpd_secrets_host == []) %}
{% for item in opensmtpd_secrets_host %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.label}} {{item.username}}:{{item.password}}

{% endfor %}
{% endif %}
