#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config
# Type   : selinux configuration file
# Role   : selinux
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# This file controls the state of SELinux on the system.
# SELINUX= can take one of these three values:
#     enforcing - SELinux security policy is enforced.
#     permissive - SELinux prints warnings instead of enforcing.
#     disabled - No SELinux policy is loaded.
{% if (selinux_mode is match('disable|disabled')) %}
SELINUX=disabled
{% elif (selinux_mode is match('permissive')) %}
SELINUX=permissive
{% else %}
SELINUX=enforcing
{% endif %}

# SELINUXTYPE= can take one of three two values:
#     targeted - Targeted processes are protected,
#     minimum - Modification of targeted policy. Only selected processes are protected. 
#     mls - Multi Level Security protection.
SELINUXTYPE=targeted 


