#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : postgresql.conf
# Type   : PostgreSQL configuration file
# Role   : postgresql
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[client]
user='root'
password='{{postgresql_postgres_password}}'
