#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : postgresql.sh
# Type   : environment variable configuration file
# Role   : postgresql
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# PGDATA
PGDATA='{{postgresql_data_dir}}'
export PGDATA
