#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : alertmanager.yml
# Type   : alertmanager configuration file
# Role   : alertmanager
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% for item in (alertmanager_config|default([])) %}
{% if not ((item.section|default('')) == '') %}
#-------------------------------------------------------------------------------
# {{(item.section|upper)}}
#-------------------------------------------------------------------------------

{% endif %}
{{item.section}}:
{% for config in item.config %}
  {{config}}
{% endfor %}

{% endfor %}
