#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : credentials.cnf
# Type   : MariaDB configuration file
# Role   : mysqld_exporter
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[client]
user='mysqld_exporter'
password='{{mysqld_exporter_mysql_password}}'
