#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : mysqld_exporter.sysconfig
# Type   : service configuration file
# Role   : mysqld_exporter
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

OPTIONS="--config.my-cnf='{{file_dst_credentials_cnf}}'"
