#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config.yml
# Type   : docker_distribution configuration file
# Role   : docker_distribution
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

version: 0.1
log:
  fields:
    service: registry
storage:
    cache:
        layerinfo: inmemory
    filesystem:
        rootdirectory: {{docker_distribution_root_directory}}
http:
    addr: :5000
