#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : yum.conf
# Type   : yum configuration file
# Role   : yum
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[main]
cachedir=/var/cache/yum/$basearch/$releasever
keepcache=0
debuglevel=2
logfile=/var/log/yum.log
exactarch=1
obsoletes=1
gpgcheck=1
plugins=1
installonly_limit=5
bugtracker_url=http://bugs.centos.org/set_project.php?project_id=23&ref=http://bugs.centos.org/bug_report_page.php?category=yum
distroverpkg=centos-release

{% if not ((yum_exclude|default([])) == []) %}
exclude={% for item in yum_exclude %}{{item}}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}
{% if not ((yum_include|default([])) == []) %}
includepkgs={% for item in yum_include %}{{item}}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}
{% if not ((yum_proxy|default('')) == '') %}
proxy={{yum_proxy}}
{% endif %}
{% if not ((yum_proxy_username|default('')) == '') %}
proxy_username={{yum_proxy_username}}
{% endif %}
{% if not ((yum_proxy_password|default('')) == '') %}
proxy_password={{yum_proxy_password}}
{% endif %}

#  This is the default, if you make this bigger yum won't see if the metadata
# is newer on the remote and so you'll "gain" the bandwidth of not having to
# download the new metadata and "pay" for it by yum not having correct
# information.
#  It is esp. important, to have correct metadata, for distributions like
# Fedora which don't keep old packages around. If you don't like this checking
# interupting your command line usage, it's much better to have something
# manually check the metadata once an hour (yum-updatesd will do this).
# metadata_expire=90m

# PUT YOUR REPOS HERE OR IN separate files named file.repo
# in /etc/yum.repos.d
