#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : haproxy_exporter.sysconfig
# Type   : service configuration file
# Role   : haproxy_exporter
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

OPTIONS="
{%- if (haproxy_exporter_haproxy_scrape_uri is defined) and not (haproxy_exporter_haproxy_scrape_uri == []) %}
{% for item in haproxy_exporter_haproxy_scrape_uri %}
--haproxy.scrape-uri='{{item.protocol|default('http://')}}{{item.username}}{% if not (item.username == '') %}:{% endif %}{{item.password}}{% if not (item.username == '') %}@{% endif %}{{item.address|default('localhost')}}:{{item.port|default('9000')}}{{item.uri|default('/haproxy?stats;csv')}}'
{%- endfor %}
{%- endif %}
"
