#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : alerting_rules.yml
# Type   : alerting_rules configuration file
# Role   : prometheus
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if not (prometheus_alerting_rules == '') %}
{{prometheus_alerting_rules}}
{% endif %}
