#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : prometheus.yml
# Type   : prometheus configuration file
# Role   : prometheus
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# my global config
global:
  # Set the scrape interval to every n seconds. Default is every 1 minute.
  scrape_interval: {{prometheus_global_scrape_interval}}
  # Evaluate rules every n seconds. The default is every 1 minute.
  evaluation_interval: {{prometheus_global_evaluation_interval}}
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:

  #-----------------------------------------------------------------------------
  # ALERTMANAGER
  #-----------------------------------------------------------------------------

  - job_name: 'alertmanager'
    static_configs:

  # Localhost
    - targets: ['localhost:9093']
      labels:
        instance: '{{ansible_hostname}}'

  #-----------------------------------------------------------------------------
  # PROMETHEUS
  #-----------------------------------------------------------------------------

  - job_name: 'prometheus'
    static_configs:

  # Localhost
    - targets: ['localhost:9090']
      labels:
        instance: '{{ansible_hostname}}'

  #-----------------------------------------------------------------------------
  # NODE_EXPORTER
  #-----------------------------------------------------------------------------

  - job_name: 'node'
    static_configs:

  # Localhost
    - targets: ['localhost:9100']
      labels:
        instance: '{{ansible_hostname}}'

  # Custom Targets
{% if not (prometheus_node_exporter_custom_targets == []) %}
{% for item in prometheus_node_exporter_custom_targets %}
    - targets: ['{{item.address}}:9100']
      labels:
        instance: '{{item.hostname}}'

{% endfor %}
{% endif %}

  # Playbook Targets
{% for item in (groups['all']|sort) %}
    - targets: ['{{hostvars[item].inventory_hostname}}:9100']
      labels:
        instance: '{{hostvars[item].inventory_hostname_short}}'

{% endfor %}
