#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : blackbox_exporter.sysconfig
# Type   : service configuration file
# Role   : blackbox_exporter
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

OPTIONS="--config.file='{{file_dst_blackbox_yml}}'"
