#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : blackbox_exporter.service
# Type   : systemd unit file
# Role   : blackbox_exporter
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[Unit]
Description=Blackbox Exporter
After=syslog.target network.target

[Service]
User=blackbox_exporter
Group=blackbox_exporter
AmbientCapabilities=CAP_NET_RAW
EnvironmentFile={{file_dst_blackbox_exporter_sysconfig}}
ExecStart={{file_dst_blackbox_exporter}}/blackbox_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
