#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config.yml
# Type   : blackbox_exporter configuration file
# Role   : blackbox_exporter
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

